
body{
    margin: 0;
    padding: 0;
    background: url(./images/background.jpg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}

.login{
    width: 320px;
    height: 420px;
    background: white;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 90px;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #3bd1b3;
}

.login p{
    margin: 0;
    padding: 0;
    text-align: center;
    font-weight: bold;
    color: #13138a;
}

.login input{
    width: 100%;
    margin-bottom: 20px;
}

.login input[type="text"], input[type="password"]{
    border: none;
    border-bottom: 1px solid #13138a;
    background: transparent;
    outline: none;
    height: 30px;
    font-size: 16px;
    color: #3bd1b3;
}

.login input[type="submit"], input[type="button"]{
    border: none;
    outline: none;
    height: 40px;
    background: #13138a;
    color: #3bd1b3;
    font-size: 18px;
    font-weight: bold;
    border-radius: 20px;
}

.logo{
    width: 130px;
    height: 130px;
    border-radius: 30%;
    position: absolute;
    top: -50px;
    left: 30%;
}

h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
    color: #13138a;
    margin-top: 5px;
}
