<html>
    <head>
        <link rel="stylesheet" href="tchat.css">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>

        <meta http-equiv="content-type" content="text/html; charset=utf-8" />


        <!-- Alerte Plugin -->
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8.0.1/dist/sweetalert2.all.min.js"></script>
    </head>

    <body >

        <div class="online" id="online" >
            <img src="./images/logo.png" class="logo">
            <h1> Online </h1>
            
            <select multiple="multiple" class="options">
                    <template v-for="user in list">
                            <option value="item1">{{user.User_Id}}</option>
                    </template>
                    
            </select>

            <input value="Deconnexion" v-on:click="deconnexion" type="button"> </input>
        </div>

        <!-- <div class="message" id="message" v-on:submit.prevent="postMessage"> -->
        <div class="message" id="message" v-on:submit.prevent="postMessage">        
            <form name="form_message">

                <input type="text" name="mess" placeholder="" required  v-model="msg" 
                oninvalid="this.setCustomValidity('Veuillez entrez un message')" oninput="this.setCustomValidity('')"><br>

                <input type="submit" value="Envoyer" type="hidden"></input>
            </form> 
        </div>


        <div class="tchat" id="tchat">        
            <select multiple="multiple" class="options">
                    <template v-for="message in list_messages">
                            <option value="item2">{{message.User_Id}} : {{message.Message}}</option>
                    </template>
            </select>
        </div>


        <script src ="../Tchat/tchat.js"></script>
    </body>





</html>
