<html>
    <head>
        <link rel="stylesheet" href="connexion.css">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>

        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        

        <!-- Alerte Plugin -->
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8.0.1/dist/sweetalert2.all.min.js"></script>
    </head>

    <body>

        <div class="login" id="login">
            <img src="./images/logo.png" class="logo">
            <h1> Connexion </h1>
            <form id="form" v-on:submit.prevent="soumettre">
                    <p>Identifiant</p>
                    <input type="text" name="" placeholder="" required v-model="id" ><br>

                    <p> Mot de passe </p>
                    <input type="password" name="" placeholder="" required v-model="password"  ><br>


                    <input type="submit" value="Connexion" >
                    <input value="S'inscrire" onclick="location.href='../Inscription/inscription.html'" 
                            type="button" > </input>

                    <!-- <input value="S'inscrire" type="button" v-on:click="getToken"> </input> -->
                </form>
        </div>


        <script src ="../Connexion/connexion.js"></script>
    </body>





</html>
